
    <div class="d-flex flex-column text-white p-3 sidebar ">
      <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link text-white" [routerLink]="['/dashboard']" routerLinkActive="active">{{'dashboard' | translate}}</a></li>
        <li class="nav-item"><a class="nav-link text-white" [routerLink]="['/confirmation']" routerLinkActive="active">{{'apply-for-loan' | translate}}</a></li>
        <li class="nav-item"><a class="nav-link text-white" [routerLink]="['/customer-search']" routerLinkActive="active">{{'find-customer' | translate}}</a></li>
        <li class="nav-item"><a class="nav-link text-white" [routerLink]="['/loan-history']" routerLinkActive="active">{{'loan-history' | translate}}</a></li>
        <li class="nav-item"><a class="nav-link text-white" [routerLink]="['/allapplications']" routerLinkActive="active">View Applications</a></li>
      </ul>
    </div>