<div class="container mt-4">
    <div class="card shadow">
      <div class="card-header bg-light">
        <h5>Applications:</h5>
        <p class="mb-0">Total <strong>{{ applications.length }}</strong> Results Found</p>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered table-hover text-center">
            <thead class="thead-dark">
              <tr>
                <th>Loan ID</th>
                <!-- <th>First Name</th>
                <th>Last Name</th> -->
                <th>Loan Amount</th>
                <th>Date</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of applications">
                <td>#T46555{{ item.loanId}}</td>
                <!-- <td>{{ item.firstName}}</td>
                <td>{{ item.lastName }}</td> -->
                <td> $ {{item.loanAmount}}</td>
                <td>{{ item.dateOfRequest |date:'dd/MM/yyyy'}}</td>
                <td>
                  <span class="badge text-capitalize" [ngClass]="{'badge-warning': item.loanStatus === 'pending', 'badge-success': item.loanStatus === 'approved', 'badge-danger': item.loanStatus === 'rejected'}">
                    {{ item.loanStatus }}
                  </span>
                </td>
                <td>
                  <button class="btn btn-success btn-sm mr-2" (click)= 'approve(item.loanId)'>Accept</button>
                  <button class="btn btn-danger btn-sm mr-2" (click)="reject(item.loanId)" >Reject</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
   